@{
    ViewBag.Title = "Index";
}

@this.Partial("Index_js")
<style type="text/css">

.img_thum{width:100px;margin-right:5px;}
.img_red{border:1px solid #ff6a00;}
</style>
<div style="width:100%;">
    <div class="topPanel">
        <div class="toolbar">
            <a class="a-btn-refresh" onclick="$ace.reload()"></a>
            <button class="a-btn-edit" data-bind="click:edit,disable:!dataTable.selectedModel()">修改</button>
            <button class="a-btn-add" data-bind="click:add">添加</button>
            <button class="a-btn-delete" data-bind="click:del,disable:!dataTable.selectedModel()">删除</button> 
        </div>
        <div class="search">
            <table class="form-table" style="width:400px;">
                <tr>
                    <td>
                        <input type="text" class="a-control" placeholder="请输入要查询关键字" style="width: 200px;" data-bind="value:searchModel().keyword">
                    </td>
                    <td>
                        <button type="button" class="a-btn-search" data-bind="click:search"></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div>
        <table class="table table-hover" data-bind="with:dataTable">
            <thead>
                <tr>
                    <th style="width:20px;"></th>
                    <th>编号</th>
                    <th>订单金额</th>
                    <th>商品金额</th>
                    <th>运费</th>
                    <th>客户信息</th>
                    <th>商家名称</th>
                    <th>状态</th>
                    <th>下单时间</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:models">
                <tr data-bind="click:$parent.selectRow">
                    <td data-bind="text:$parent.getOrdinal($index())"></td>
                    <td>
                        <a data-bind="text:OrderCode,attr:{href:'@Url.Content("~/Wiki/ShopOrder/Item?Id=")' + Id()}"></a>
                    </td>
                    <td data-bind="text:Total"></td>
                    <td data-bind="text:ProTotal"></td>
                    <td data-bind="text:Freight"></td>
                    <td> <span data-bind="text:UserName"></span> <span data-bind="text:Mobile"></span></td>
                    <td data-bind="text:ShopName"></td>
                    <td data-bind="text:$ace.findName(_sts,ST(),'ID','Title')"></td>
                    <td data-bind="dateString:CreateDate"></td>

                </tr>
            </tbody>
            @this.Partial("_tfoot")
        </table>
    </div>
</div>
<dialogbox data-bind="with:dialog">
    <form id="form1">
        <table class="form-table">
            <tr>
                <td class="form-title">订单金额</td>
                <td class="form-value">
                    <input name="Total" id="Total" disabled type="text" class="a-control required" placeholder="" data-bind="value:model().Total" />
                </td>
            </tr>
            <tr>
                <td class="form-title">客户姓名</td>
                <td class="form-value">
                    <input disabled type="text" class="a-control required" placeholder="" data-bind="value:model().UserName" />
                </td>
            </tr>
            <tr>
                <td class="form-title">客户手机</td>
                <td class="form-value">
                    <input disabled type="text" class="a-control required" placeholder="" data-bind="value:model().Mobile" />
                </td>
            </tr>
            <tr>
                <td class="form-title">状态</td>
                <td class="form-value">
                    <select class="a-control" disabled data-bind="options:_sts,optionsText:'Title',optionsValue:'ID',optionsCaption:'--选择--',value:model().ST"></select>
                </td>
            </tr>

            <tr>
                <td class="form-title">店铺名称</td>
                <td class="form-value">
                    <select class="a-control" disabled name="ShopID" id="ShopID" data-bind="options:_shops,optionsText:'ShopName',optionsValue:'ShopID',optionsCaption:'--选择店铺--',value:model().ShopID">
                        <option value="0">--选择分类--</option>
                    </select>
                </td>
            </tr>


        </table>
    </form>
</dialogbox>

 