<div data-bind="with:TagForm">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="@Model.FormId" data-backdrop="false" data-keyboard="true">
        <div class="modal-dialog" style=" width:900px;">
            <div class="modal-content" style=" width:900px; ">
                <div class="modal-header">
                    <label>{0}</label>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bind="click:Save">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
